d{
  background: rgba(42, 23, 255, 0.7);
}
d{
  background: rgba(79, 88, 95, 0.7);
}
d{
  background: rgba(25, 191, 0, 0.4);
}
d{
  background: rgba(255, 255, 255, 0.1);
}
d{
  background: rgba(236, 237, 240, 0.7);
}